﻿/*#region Gotham */
@font-face {
    font-family: 'Gotham-Bold';
    src: url('fonts/Gotham-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'GOTHAM-ULTRA';
    src: url('fonts/GOTHAM-ULTRA.TTF') format('truetype');
}
/*#endregion */

/*#region Segoe UI*/
@font-face {
    font-family: 'segoeui';
    src: url('fonts/segoeui.ttf') format('truetype');
}
@font-face {
    font-family: 'segoeuil';
    src: url('fonts/segoeuil.ttf') format('truetype');
}
@font-face {
    font-family: 'segoeuib';
    src: url('fonts/segoeuib.ttf') format('truetype');
}
/*#endregion */

/*#region Lobster*/
@font-face {
    font-family: 'VNF-Lobster';
    src: url('fonts/VNF-Lobster.ttf') format('truetype');
}