﻿.gothamB {
    font-family: Gotham-Bold;
    text-transform: uppercase;
    font-size: 16px;
}

.gothamU {
    font-family: GOTHAM-ULTRA;
    text-transform: uppercase;
    font-size: 26px;
}

.lobster {
    font-family: VNF-Lobster;
    font-size: 40px;
    color: white;
}

.segoeui {
    font-family: segoeuib;
    font-size: 23px;
    color: $xanh;
}

.f15 {
    font-size: 15px;
}

.line-top:before {
    content: '';
    background: url(images/rang-cua.png) repeat-x;
    position: absolute;
    top: 313px;
    height: 10px;
    width: 100%;
    transform: rotate(180deg);
}

.line-bottom:after {
    content: '';
    background: url(images/rang-cua.png) repeat-x;
    position: absolute;
    bottom: 313px;
    height: 10px;
    width: 100%;
}

.title {
    padding-top: 58px;
    text-align: center;

    .lobster {
        color: $xanh;
    }

    .info {
        font-size: 15px;
        color: $san-pham;
    }
}

ul {
    &.social {
        display: inline;
        padding: 0;

        li {
            display: inline-block;

            a {
                color: $xam;
                font-size: 15px;
                padding-right: 15px;
            }
        }
    }
}


.box {
    height: 158px;
    background-color: white;
    display: inline-flex;
    padding: 0;
    margin: 25px 0;
    max-width: 570px;

    &:last-child {
        margin-left: 30px;
    }

    .imgcw {
        max-width: 158px;
        min-width: 158px;

        img {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
    }

    .noi-dung {
        margin: 10px 0 0 10px;

        p {
            margin: 0 0 5px 0;

            a {
                &.active,
                , &:hover,
                &:active {
                    color: $do;
                }
            }
        }

        .ten {
            font-size: 19px;
        }

        .info {
            font-size: 13px;
            color: $noi-dung;
            margin-bottom: 10px;
        }
    }
}
