﻿@import "bootstrap-4.2.1/scss/bootstrap";
@import "font-awesome-4.7.0/scss/font-awesome";
@import "../js/slick-1.8.1/slick/slick.scss";

@import "reset";
@import "font-face";
@import "image";
@import "variables";
@import "bootstrap-edit";
@import "slick-edit";
@import "general";

//MENU MOBILE
#menu-mobile {
    float: right;
    position: relative;
    z-index: 1;

    #nav-toggle {
        position: absolute;
        width: 45px;
        height: 45px;
        margin: auto;
        cursor: pointer;
        padding: 10px 35px 16px 0px;
        background: url('pic/home.png') no-repeat center center;
        top: 0;
        background-color: $xanh;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        &.nav-list {
            position: relative;
            top: -25px;
            width: 150px;
        }

        li {
            float: left;
            position: relative;

            a {
                display: block;
                padding: 0 20px;
                line-height: 70px;
                background: $xanh;
                color: white;
                text-decoration: none;

                &:hover {
                    background: $xanh;
                    color: white;
                }

                &:not(:only-child):after {
                    padding-left: 4px;
                    content: ' ▾';
                }
            }

            ul {
                li {
                    min-width: 190px;

                    a {
                        padding: 15px;
                        line-height: 20px;
                        width: 150px;
                    }
                }

                .nav-dropdown {
                    position: absolute;
                    z-index: 1;
                    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
                    display: none;
                }

                .nav-mobile {
                    display: none;
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: $xanh;
                    height: 45px;
                    width: 45px;
                }
            }
        }
    }
}
//HEADER
.header {
    height: 93px;
    margin: 10px auto 0;

    .left {
        display: inline;

        .logo {
            width: 83px;
            height: 83px;
            display: inline-block;
        }

        .text {
            display: inline-block;
            text-align: center;
            color: $xanh;

            p {
                margin: 0;
            }

            span {
                color: $do;
            }
        }
    }

    .right {
        .htop {
            ul {
                position: relative;
                left: 15px;
                display: inline-block;
                padding: 0;
                margin: 0;

                li {
                    display: inline-block;
                    font-size: 20px;

                    a {
                        color: $do;
                    }

                    i {
                        font-size: 32px;
                    }

                    span {
                        top: -12px;
                        font-size: 11px;
                        position: relative;
                        padding: 0 5px;
                        color: black;
                    }
                }

                input {
                    background-color: $search;
                    color: $xam;
                    font-size: 14px;
                    padding-left: 15px;
                    height: 38px;
                    border: none;
                    border-radius: 5px;
                    position: relative;
                    left: 23px;
                }

                .search {
                    position: relative;
                    right: 5px;
                    color: $xam;
                }
            }
        }

        .hmain {
            width:1000%;
            margin-top: 15px;
            background-color: $active;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;

            .navbar {
                padding-left: 0;
                height: 37px;

                .navbar-brand {
                    margin-right: 0;
                    margin-left: 15px;
                }

                .navbar-nav {
                    position: relative;
                    left: 35px;
                    background-color: $xanh;
                    height: 37px;
                    border-top-left-radius: 25px;
                    border-bottom-left-radius: 25px;

                    .dropdown-menu {
                        background-color: $xanh;

                        a {
                            background-color: $xanh;
                            color: $white;

                            &:hover, &:active {
                                background-color: $xanh;
                            }
                        }
                    }
                }

                .nav-item {
                    padding-right: 10px;
                    left: 10px;

                    .nav-link {
                        padding-left: 0;
                        color: white;
                        padding-right: 5px;
                    }

                    &:last-child {
                        position: relative;
                        left: 5px;
                    }
                }
            }
        }
    }
}
//BANNER
.banner {
    background: url('pic/slide.png') no-repeat center;
    margin: auto;
    height: 500px;
    color: white;
    background-size: cover;

    .line-bottom:after {
        bottom: 280px;
    }

    .content {
        position: relative;
        top: 150px;

        p {
            margin: 0;
        }

        .xem-chi-tiet {
            margin-top: 20px;
            width: 110px;
            height: 30px;
            border: 1px solid white;
            border-radius: 20px;
            font-size: 14px;
            text-align: center;
            line-height: 30px;

            a {
                color: white;
            }
        }

        .chuc-nang {
            float: right;

            ul {
                position: fixed;
                top: 307px;
                z-index: 2;

                li {
                    width: 40px;
                    height: 40px;
                    background-color: $xanh;
                    border-radius: 50%;
                    margin-bottom: 5px;
                    cursor: pointer;

                    a {
                        color: white;
                    }

                    i {
                        font-size: 20px;
                        width: 40px;
                        text-align: center;
                        line-height: 40px;
                    }
                }
            }
        }
    }
}
//ĐIỂM MẠNH
.diem-manh {
    .cot {
        display: flex;
    }

    .imgcw {
        width: 70px;
        height: 70px;
    }

    .info {
        border-left: 1px solid;
        height: 40px;
        margin-top: 15px;
        padding-left: 10px;
        font-size: 15px;
        line-height: 1.2;
        color: $diem-manh;
    }
}
//SẢN PHẨM
.san-pham {
    background-color: $bg;

    .slide {
        padding-bottom: 35px;

        .imgcw:before {
            padding-bottom: 50%;
        }

        .item.slick-slide {
            transition: transform .4s;
            position: relative;
            transform: scale(0.7) translate(710px);

            .lobster {
                color: #333;
            }
        }

        .item.slick-slide.slick-center + .slick-slide {
            transform: scale(0.8) translate(-670px);
            z-index: 10;

            .lobster {
                color: #333;
            }
        }

        .item.slick-slide.slick-center + .slick-slide + .item.slick-slide {
            transform: scale(0.7) translate(-700px);
            z-index: 5;

            .lobster {
                color: #333;
            }
        }

        .item.slick-slide.slick-active {
            transform: scale(0.8) translate(250px);

            .lobster {
                color: $xanh;
            }
        }

        .item.slick-slide.slick-center {
            transform: scale(1);
            z-index: 30;
            color: #333;
        }

        .slick-center:after {
            opacity: 0;
        }

        .slick-dots {
            li {
                width: 15px;
                height: 15px;
                background-color: $xam;
                padding: 3px;
                background-clip: content-box;
                border: 1px solid transparent;

                &.slick-active {
                    border-color: $xam;
                }
            }
        }

        .chi-tiet {
            padding: 25px 0 25px 30px;
            background-color: white;
            margin-bottom: 20px;

            p {
                margin: 0;
            }
        }
    }
}
//ĐỘI NGŨ HUẤN LUYỆN VIÊN
.nhan-su {
    max-height: 550px;

    .bg {
        .imgcw {
            background: black;

            a {
                opacity: 0.4;
            }
        }

        .imgcw:before {
            padding-bottom: 28.79%;
        }
    }

    .container {
        position: relative;
        bottom: 550px;
        z-index: 1;
        max-width: 980px;

        .title {
            .info {
                color: $nhan-su;
                max-width: 700px;
                margin: auto;
            }
        }

        .slider {
            .slick-dots {
                bottom: -35px;

                li {
                    width: 15px;
                    height: 15px;
                    background-color: $xam;
                    padding: 3px;
                    background-clip: content-box;
                    border: 1px solid transparent;

                    &.slick-active {
                        border-color: $xam;
                    }
                }
            }

            .nscontent {
                width: 980px;
                height: 222px;
                border: 1px dashed $xam;
                margin: 40px auto;

                .left {
                    margin: 40px;

                    .ten {
                        font-size: 26px;
                        color: white;
                    }

                    .info {
                        color: $xanh;
                    }
                }

                .middle {
                    .imgcw {
                        background-color: $xam;
                        margin: auto;
                        bottom: 25px;
                        border: 15px solid $xam;
                        width: 265px;
                        border-radius: 50%;

                        img {
                            border-radius: 50%;
                        }
                    }
                }

                .right {
                    margin: 40px 0;
                    color: $nscontent;
                    overflow-y: scroll;
                    max-height: 150px;

                    .info {
                        max-width: 275px;
                    }
                }
            }
        }
    }
}
//CẢM NHẬN VỀ TRUNG TÂM
.cam-nhan {
    background-color: $cam-nhan;
    padding-bottom: 60px;

    .khach-hang {
        margin-left: 15px;
    }

    .view {
        max-width: 650px;
        margin: auto;
        font-size: 14px;
        color: $xanh;

        .button {
            border: 1px solid #00aeef;
            border-radius: 20px;
            max-width: 314px;
            height: 34px;
            line-height: 34px;
            text-align: center;
            padding-left: 20px;
            margin: auto;
            margin-right: 15px;

            &.active, &:active, &:hover {
                background-color: $xanh;

                a {
                    color: white;
                }
            }
        }
    }
}
//THÔNG TIN HỮU ÍCH
.thong-tin {
    margin-bottom: 50px;

    .big {
        height: 425px;

        .imgcw:before {
            padding-bottom: 74.56%;
        }

        img {
            border-radius: 5px;
        }

        .bshadow {
            width: 470px;
            height: 145px;
            margin: auto;
            text-align: center;
            background-color: white;
            position: relative;
            bottom: 145px;
            z-index: 1;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;

            .tbig {
                font-size: 22px;
                max-width: 420px;
                margin: auto;
            }

            .info {
                font-size: 15px;
                color: $noi-dung;
                max-width: 420px;
                margin: auto;
            }
        }
    }

    .box {
        height: 137px;
        margin-top: 0;
        margin-bottom: 15px;
        border-bottom: 1px dashed $xam;

        &.last {
            border-bottom: none;
        }

        .imgcw {
            max-width: 180px;
            min-width: 180px;
            height: 122px;

            img {
                border-radius: 5px;
            }
        }

        .imgcw:before {
            padding-bottom: 67.40%;
        }

        .noi-dung {
            margin-top: 0;

            .ten {
                color: black;

                &.active, &:active, &:hover {
                    color: $xanh;
                }
            }
        }

        &:last-child {
            margin-left: 15px;
        }
    }

    .view-all {
        width: 110px;
        height: 34px;
        line-height: 34px;
        background-color: $xanh;
        margin: auto;
        text-align: center;
        border-radius: 25px;

        a {
            color: white;
            font-size: 14px;
        }
    }
}
//ẢNH QUẢNG CÁO
.quang-cao {
    .imgcw:before {
        padding-bottom: 21.92%;
    }

    img {
        border-radius: 5px;
    }

    .now {
        position: relative;
        bottom: 75px;
        z-index: 1;
        line-height: 1.2;
        margin-left: 30px;

        .lobster {
            font-size: 30px;
        }

        a {
            color: white;
        }
    }
}
//FOOTER
.footer {
    background-color: $san-pham;
    padding-bottom: 60px;

    .line-top:before {
        height: 7px;
        top: auto;
    }

    .lobster {
        margin-top: 58px;
        font-size:22px;
    }

    .info {
        color: $nscontent;
    }

    .social {
        li {
            width: 32px;
            height: 32px;
            border: 1px solid $xam;
            line-height: 32px;
            text-align: center;

            &.active, &:active, &:hover {
                background-color: $xanh;
            }

            a {
                color: white;

                i {
                    width: 32px;
                }
            }
        }
    }

    .lien-he {
        text-align: center;
        padding: 0;

        li {
            height: 50px;
            border: 1px solid $xam;
            margin-bottom: 33px;

            a {
                color: white;

                &.text {
                    position: relative;
                    bottom: 15px;

                    i {
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        line-height: 32px;
                        background-color: white;
                        color: $xanh;
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .fanpage {
        .imgcw:before {
            padding-bottom: 58%;
        }
    }
}
//COPYRIGHT
.copyright {
    background-color: $copyright;
    height: 40px;
    line-height: 40px;
    font-size: 14px;

    ul {
        padding: 0;
        display: inline;

        li {
            display: inline-block;
            color: $noi-dung;
            margin-right: 15px;
        }
    }
}
//LỊCH HỌC
.lich-hoc {
    position: fixed;
    bottom: 0;
    right: 5px;
    z-index: 2;

    ul {
        display: inline;

        li {
            width: 190px;
            height: 32px;
            text-align: center;
            color: white;
            font-size: 15px;
            display: inline-block;
            line-height: 32px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;

            &.cal {
                background-color: $cal;
            }

            &.pen {
                background-color: $pen;
            }

            &.chat {
                background-color: $xanh;
            }
        }
    }
}
