﻿/*#region Gotham */
@font-face {
  font-family: 'Gotham-Bold';
  src: url("fonts/Gotham-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'GOTHAM-ULTRA';
  src: url("fonts/GOTHAM-ULTRA.TTF") format("truetype"); }

/*#endregion */
/*#region Segoe UI*/
@font-face {
  font-family: 'segoeui';
  src: url("fonts/segoeui.ttf") format("truetype"); }

@font-face {
  font-family: 'segoeuil';
  src: url("fonts/segoeuil.ttf") format("truetype"); }

@font-face {
  font-family: 'segoeuib';
  src: url("fonts/segoeuib.ttf") format("truetype"); }

/*#endregion */
/*#region Lobster*/
@font-face {
  font-family: 'VNF-Lobster';
  src: url("fonts/VNF-Lobster.ttf") format("truetype"); }

@media screen and (max-width: 1366px) {
  .header .right .hmain {
    width: 115%; }
  .banner .line-bottom:after {
    bottom: 417px; }
  .nhan-su .bg .imgcw:before {
    padding-bottom: 40.79%; } }

@media screen and (max-width: 1024px) {
  .header .gothamB {
    font-size: 14px; }
  .header .gothamU {
    font-size: 24px; }
  .header .f15 {
    font-size: 14px; }
  .header .right .htop ul li {
    font-size: 14px; }
  .header .right .hmain {
    width: 105.8%; }
    .header .right .hmain .navbar .navbar-nav {
      font-size: 14px; }
    .header .right .hmain .navbar .nav-item {
      padding-right: 3px; }
  .banner .line-bottom:after {
    bottom: 759px; }
  .san-pham .slide .item.slick-slide {
    transform: scale(0.7) translate(520px); }
  .san-pham .slide .item.slick-slide.slick-center + .slick-slide {
    transform: scale(0.8) translate(-490px); }
  .nhan-su .bg .imgcw:before {
    padding-bottom: 53.79%; }
  .cam-nhan .title .info {
    max-width: 650px;
    margin: auto; }
  .cam-nhan .khach-hang .box {
    max-width: 470px; }
    .cam-nhan .khach-hang .box .noi-dung .ten {
      font-size: 16px; }
    .cam-nhan .khach-hang .box .noi-dung .info {
      font-size: 12px; }
    .cam-nhan .khach-hang .box .noi-dung p {
      font-size: 13px; }
  .cam-nhan .view .button {
    margin-right: 5px; }
  .thong-tin .big .imgcw:before {
    padding-bottom: 92%; }
  .quang-cao .now {
    bottom: 65px; }
    .quang-cao .now .lobster {
      font-size: 26px; } }

@media screen and (min-width: 510px) and (max-width: 768px) {
  .header .left {
    min-width: 410px; }
  .header .right {
    max-width: 330px; }
    .header .right .htop ul li {
      font-size: 16px;
      margin-bottom: 5px; }
    .header .right .htop input {
      display: none; }
    .header .right .htop .search {
      display: none; }
    .header .right .hmain {
      display: none; }
  .banner .line-bottom:after {
    bottom: 417px; }
  .banner .content {
    top: 60px; }
  .san-pham .slide .item.slick-slide {
    transform: scale(0.7) translate(690px); }
  .san-pham .slide .item.slick-slide.slick-center + .slick-slide {
    transform: scale(0.8) translate(-437px); }
  .nhan-su .bg .imgcw:before {
    padding-bottom: 70.79%; }
  .nhan-su .slider .nscontent .left, .nhan-su .slider .nscontent .right {
    margin: 40px 10px; }
  .cam-nhan .khach-hang .box {
    height: auto;
    width: 100%; }
    .cam-nhan .khach-hang .box:last-child {
      margin-left: 0; }
    .cam-nhan .khach-hang .box .noi-dung .info {
      margin-bottom: 0; }
  .thong-tin .big .bshadow {
    width: auto; }
  .thong-tin .box {
    height: auto; }
    .thong-tin .box:last-child {
      margin-left: 0; }
  .copyright {
    height: 80px; } }

@media screen and (max-width: 500px) {
  .header {
    height: 105px; }
    .header .left {
      display: flex; }
    .header .right {
      display: none; }
  .banner .line-bottom:after {
    bottom: 117px; }
  .banner .content {
    top: 60px; }
  .banner .chuc-nang {
    display: none; }
  .nhan-su {
    max-height: 1100px; }
    .nhan-su .bg .imgcw:before {
      padding-bottom: 266%; }
    .nhan-su .container {
      bottom: 1100px; }
      .nhan-su .container .slider .nscontent {
        height: auto; }
        .nhan-su .container .slider .nscontent .right {
          margin-left: 40px; }
  .cam-nhan .khach-hang .box {
    max-width: 370px;
    height: auto; }
    .cam-nhan .khach-hang .box:last-child {
      margin-left: 0; }
    .cam-nhan .khach-hang .box .noi-dung .ten {
      font-size: 14px; }
    .cam-nhan .khach-hang .box .noi-dung .info {
      font-size: 10px; }
    .cam-nhan .khach-hang .box .noi-dung p {
      font-size: 12px; }
  .cam-nhan .view .button {
    margin: auto 15px 5px 40px; }
  .thong-tin .big {
    height: 380px; }
    .thong-tin .big .bshadow {
      width: auto; }
      .thong-tin .big .bshadow .tbig {
        font-size: 18px; }
      .thong-tin .big .bshadow .info {
        max-width: 315px; }
  .thong-tin .box {
    height: auto; }
    .thong-tin .box .imgcw {
      max-width: 165px;
      min-width: 165px; }
    .thong-tin .box .noi-dung {
      width: auto; }
      .thong-tin .box .noi-dung .ten {
        font-size: 16px; }
      .thong-tin .box .noi-dung p {
        font-size: 13px; }
  .quang-cao .now {
    bottom: 59px; }
    .quang-cao .now .lobster {
      font-size: 20px; }
  .copyright {
    height: 120px; }
  .lich-hoc ul li {
    font-size: 10px;
    width: 108px; } }

@media screen and (max-width: 375px) {
  .header {
    height: 105px; }
  .nhan-su .bg .imgcw:before {
    padding-bottom: 298%; }
  .nhan-su .banner .line-bottom:after {
    display: none; }
  .nhan-su .banner .content {
    top: 60px; }
  .nhan-su .container {
    bottom: 1117px; }
    .nhan-su .container .slider .nscontent .right {
      margin-left: 20px;
      padding-right: 20px; }
  .cam-nhan .view .button {
    margin: auto 0 5px 30px; }
  .copyright {
    height: 120px; }
  .lich-hoc ul li {
    font-size: 10px;
    width: 108px; } }

@media screen and (max-width: 320px) {
  .banner .line-bottom:after {
    bottom: -50px; }
  .banner .content {
    top: 60px; }
  .nhan-su {
    max-height: 1115px; }
    .nhan-su .bg .imgcw:before {
      padding-bottom: 348%; }
    .nhan-su .container {
      bottom: 1115px; }
      .nhan-su .container .slider .nscontent .right {
        margin-left: 20px;
        padding-right: 20px; }
  .cam-nhan .view .button {
    margin: auto 0 5px 3px; }
  .copyright {
    height: 150px; }
  .lich-hoc ul li {
    font-size: 8px;
    width: 90px; } }

@media only screen and (max-width: 800px) {
  .nav-mobile {
    display: block; }
  #menu-mobile {
    width: 100%;
    padding: 70px 0 15px; }
  #menu-mobile ul {
    display: none; }
  #menu-mobile ul li {
    float: none; }
  #menu-mobile ul li a {
    padding: 15px;
    line-height: 20px; }
  #menu-mobile ul li ul li a {
    padding-left: 30px; } }

@media screen and (min-width: 800px) {
  #menu-mobile {
    display: none; }
  .nav-list {
    display: block !important; } }
