﻿@import "font-face";
@import "variables";

@media screen and (max-width: 1366px) {
    .header {
        .right {
            .hmain {
                width: 115%;
            }
        }
    }

    .banner {
        .line-bottom:after {
            bottom: 417px;
        }
    }

    .nhan-su {
        .bg {
            .imgcw:before {
                padding-bottom: 40.79%;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .header {
        .gothamB {
            font-size: 14px;
        }

        .gothamU {
            font-size: 24px;
        }

        .f15 {
            font-size: 14px;
        }

        .right {
            .htop {
                ul {
                    li {
                        font-size: 14px;
                    }
                }
            }

            .hmain {
                width:105.8%;
                .navbar {
                    .navbar-nav {
                        font-size: 14px;
                    }

                    .nav-item {
                        padding-right: 3px;
                    }
                }
            }
        }
    }

    .banner {
        .line-bottom:after {
            bottom: 759px;
        }
    }

    .san-pham {
        .slide {
            .item.slick-slide {
                transform: scale(0.7) translate(520px);
            }

            .item.slick-slide.slick-center + .slick-slide {
                transform: scale(0.8) translate(-490px);
            }
        }
    }

    .nhan-su {
        .bg {
            .imgcw:before {
                padding-bottom: 53.79%;
            }
        }
    }

    .cam-nhan {
        .title {
            .info {
                max-width: 650px;
                margin: auto;
            }
        }

        .khach-hang {
            .box {
                max-width: 470px;

                .noi-dung {
                    .ten {
                        font-size: 16px;
                    }

                    .info {
                        font-size: 12px;
                    }

                    p {
                        font-size: 13px;
                    }
                }
            }
        }

        .view {
            .button {
                margin-right: 5px;
            }
        }
    }

    .thong-tin {
        .big {
            .imgcw:before {
                padding-bottom: 92%;
            }
        }
    }

    .quang-cao {
        .now {
            bottom: 65px;

            .lobster {
                font-size: 26px;
            }
        }
    }
}

@media screen and (min-width: 510px) and (max-width: 768px) {
    .header {
        .left {
            min-width: 410px;
        }

        .right {
            max-width: 330px;

            .htop {
                ul {
                    li {
                        font-size: 16px;
                        margin-bottom: 5px;
                    }
                }

                input {
                    display: none;
                }

                .search {
                    display: none;
                }
            }

            .hmain {
                display: none;
            }
        }
    }

    .banner {
        .line-bottom:after {
            bottom: 417px;
        }

        .content {
            top: 60px;
        }
    }

    .san-pham {
        .slide {
            .item.slick-slide {
                transform: scale(0.7) translate(690px);
            }

            .item.slick-slide.slick-center + .slick-slide {
                transform: scale(0.8) translate(-437px);
            }
        }
    }

    .nhan-su {
        .bg {
            .imgcw:before {
                padding-bottom: 70.79%;
            }
        }

        .slider {
            .nscontent {
                .left, .right {
                    margin: 40px 10px;
                }
            }
        }
    }

    .cam-nhan {
        .khach-hang {
            .box {
                height: auto;
                width: 100%;

                &:last-child {
                    margin-left: 0;
                }

                .noi-dung {
                    .info {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .thong-tin {
        .big {
            .bshadow {
                width: auto;
            }
        }

        .box {
            height: auto;

            &:last-child {
                margin-left: 0;
            }
        }
    }

    .copyright {
        height: 80px;
    }
}

@media screen and (max-width: 500px) {
    .header {
        height: 105px;

        .left {
            display: flex;
        }

        .right {
            display: none;
        }
    }

    .banner {
        .line-bottom:after {
            bottom: 117px;
        }

        .content {
            top: 60px;
        }

        .chuc-nang {
            display: none;
        }
    }

    .nhan-su {
        max-height: 1100px;

        .bg {
            .imgcw:before {
                padding-bottom: 266%;
            }
        }

        .container {
            bottom: 1100px;

            .slider {
                .nscontent {
                    height: auto;

                    .right {
                        margin-left: 40px;
                    }
                }
            }
        }
    }

    .cam-nhan {
        .khach-hang {
            .box {
                max-width: 370px;
                height: auto;

                &:last-child {
                    margin-left: 0;
                }

                .noi-dung {
                    .ten {
                        font-size: 14px;
                    }

                    .info {
                        font-size: 10px;
                    }

                    p {
                        font-size: 12px;
                    }
                }
            }
        }

        .view {
            .button {
                margin: auto 15px 5px 40px;
            }
        }
    }

    .thong-tin {
        .big {
            height: 380px;

            .bshadow {
                width: auto;

                .tbig {
                    font-size: 18px;
                }

                .info {
                    max-width: 315px;
                }
            }
        }

        .box {
            height: auto;

            .imgcw {
                max-width: 165px;
                min-width: 165px;
            }

            .noi-dung {
                width: auto;

                .ten {
                    font-size: 16px;
                }

                p {
                    font-size: 13px;
                }
            }
        }
    }

    .quang-cao {
        .now {
            bottom: 59px;

            .lobster {
                font-size: 20px;
            }
        }
    }

    .copyright {
        height: 120px;
    }

    .lich-hoc {
        ul {
            li {
                font-size: 10px;
                width: 108px;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .header {
        height: 105px;
    }

    .nhan-su {
        .bg {
            .imgcw:before {
                padding-bottom: 298%;
            }
        }

        .banner {
            .line-bottom:after {
                display: none;
            }

            .content {
                top: 60px;
            }
        }

        .container {
            bottom: 1117px;

            .slider {
                .nscontent {
                    .right {
                        margin-left: 20px;
                        padding-right: 20px;
                    }
                }
            }
        }
    }

    .cam-nhan {
        .view {
            .button {
                margin: auto 0 5px 30px;
            }
        }
    }

    .copyright {
        height: 120px;
    }

    .lich-hoc {
        ul {
            li {
                font-size: 10px;
                width: 108px;
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .banner {
        .line-bottom:after {
            bottom: -50px;
        }

        .content {
            top: 60px;
        }
    }

    .nhan-su {
        max-height: 1115px;

        .bg {
            .imgcw:before {
                padding-bottom: 348%;
            }
        }

        .container {
            bottom: 1115px;

            .slider {
                .nscontent {
                    .right {
                        margin-left: 20px;
                        padding-right: 20px;
                    }
                }
            }
        }
    }

    .cam-nhan {
        .view {
            .button {
                margin: auto 0 5px 3px;
            }
        }
    }

    .copyright {
        height: 150px;
    }

    .lich-hoc {
        ul {
            li {
                font-size: 8px;
                width: 90px;
            }
        }
    }
}

//Menu mobile
@media only screen and (max-width: 800px) {
    .nav-mobile {
        display: block;
    }

    #menu-mobile {
        width: 100%;
        padding: 70px 0 15px;
    }

    #menu-mobile ul {
        display: none;
    }

    #menu-mobile ul li {
        float: none;
    }

    #menu-mobile ul li a {
        padding: 15px;
        line-height: 20px;
    }

    #menu-mobile ul li ul li a {
        padding-left: 30px;
    }
}

@media screen and (min-width: 800px) {
    #menu-mobile {
        display: none;
    }

    .nav-list {
        display: block !important;
    }
}
