﻿// khai báo màu sắc
$xanh:#00aeef;
$active:#1dbffc;
$do:#ed1c24;
$xam:#949599;
$search:#e7e7e7;
$diem-manh:#6e6e6e;
$bg:#f7f7f7;
$san-pham:#333;
$nhan-su:#a49f9f;
$nscontent:#cccccc;
$cam-nhan:#f5fafc;
$noi-dung:#666;
$copyright:#282828;
$cal:#ffa200;
$pen:#63be2c;
